@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* .contentChat{
height:300px;
width:200px;
border:1px solid black;
} */
 
body {
    margin: 0%;
    padding: 0%;
  /*   font-family: 'Raleway', sans-serif; */
    /* background:#822659; */
    background-image:url("./assets/fondo3.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;

}
    .sectionLogin{
        padding-top:100px;
        height:100vh;
    }
    .sectionLogin .divLogin{
        max-width:350px;
        background:#d4eaed63;
        border-radius:20px;

    }
    .linkContraseña{
        font-size:14px;
        margin-right: 38px !important;
        color:white;
        text-shadow: 1px 1px 1px rgb(41, 39, 39);
    }
    .linkContraseña:hover{
        color:#812056;
        text-shadow: none;
    }
    .btnLogin{
        background:#FFBCD1;
        color:#822659;
        box-shadow:2px 4px 4px #812056;
        border-radius:10px;
        font-size:16px;
        font-family: 'Raleway', sans-serif;
    }
    .inputLogin{
        border-radius:10px;
        font-family: 'Raleway', sans-serif;
        box-shadow:2px 4px 4px #812056;
    }
    .inputLogin::placeholder{
            color:#822659;
    }
    .corner-one {
        position: absolute;
        top:0px;
        left:0px;
        z-index:-10;
    }
    .corner-two {
        position: absolute;
        bottom: 0px;
        right:0px;
        z-index:-10;
    }
    h2 {
        color:#FFD2E0;
        text-shadow:5px 5px 2px #801e54;
        font-size:60px;
        font-family: 'Architects Daughter', cursive;
    }
    .canal {
        background-image:url("./assets/fondo3.jpg");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        width: 100vw;
        height: 100vh;
        font-family: 'Raleway', sans-serif;
        color: #212121;
        display: grid;
        place-items: center;
        }
    .joinChatContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
/*     .joinChatContainer h3 {
        font-size:60px;
        margin-bottom: 1rem;
        color:#FFD2Ee;
        font-family: 'Architects Daughter', cursive;
    } */

    .chat-window {
        width: 300px;
        height: 420px;
    }
    .chat-window p {
        margin: 0;
    }
    .chat-window .chat-header {
        height: 45px;
        border-radius: 6px;
        background: #1d070e;
        position: relative;
        cursor: pointer;
    }
    .chat-window .chat-header p {
        display: block;
        padding: 0 1em 0 2em;
        color: #fac7e3;
        font-weight: 700;
        line-height: 45px;
    }
    .chat-window .chat-body {
        height: calc(450px - (45px + 70px));
        border: 1px solid #1d070e;
        /* background-image:url("./assets/fondo3.jpg"); */
        background:white;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;

        position: relative;
    }
    .chat-window .chat-body .message-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .chat-window .chat-body .message-container::-webkit-scrollbar {
        display: none;
    }
    .chat-window .chat-body .message {
        height: auto;
        padding: 10px;
        display: flex;
    }
    .chat-window .chat-body .message .message-content {
        width: auto;
        height: auto;
        min-height: 40px;
        max-width: 120px;
        background-color: #3fc5d6;
       /*  text-shadow:1px 1px 1px black; */
        box-shadow: 2px 2px 2px white;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        margin-right: 5px;
        margin-left: 5px;
        padding-right: 5px;
        padding-left: 5px;
        overflow-wrap: break-word;
        word-break: break-word;
    }
    #you {
        justify-content: flex-start;
    }
    #you .message-content {
        justify-content: flex-start;
    }
    #you .message-meta {
        justify-content: flex-start;
        margin-left: 5px;
    }
    #other {
        justify-content: flex-end;
    }
    #other .message-content {
        justify-content: flex-end;
        background-color: #60c242;
    }
    #other .message-meta {
        justify-content: flex-end;
        margin-right: 5px;
    }
    .message-meta #author {
        margin-left: 10px;
    }
    .chat-window .chat-body .message .message-meta {
        display: flex;
        font-size: 12px;
    }
    .chat-window .chat-footer {
        height: 40px;
        border: 1px solid #cdedfd;
        border-top: none;
        display: flex;
    }
    .chat-window .chat-footer input {
        height: 100%;
        flex: 85%;
        border: 0;
        padding: 0 0.7em;
        font-size: 1em;
        border-right: 1px dotted #607d8b;
        outline: none;
        font-family: "Open Sans", sans-serif;
    }
    .chat-window .chat-footer button {
        border: 0;
        display: grid;
        place-items: center;
        cursor: pointer;
        flex: 15%;
        height: 100%;
        background: #1d070e;
        outline: none;
        font-size: 25px;
        color: #fac7e3;
    }
    .chat-window .chat-footer button:hover {
        color: #fac7e3;
    }
    .hide {
        opacity: 0 !important;
    }
    .inputMessage::placeholder{
        color: #1d070e;
    }
    .colorUserName{
        color: #070707;
        font-family:arial;
    }
    .colorUserName2{
        color: #0c0c0c;
        font-family:arial;
    }
    .gif {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .modal-contenido {
        background-color: white;
        width: 300px;
        height: 150px;
        padding: 10px 20px;
        margin: 20% auto;
        position: relative;
        opacity: 1;
        pointer-events: auto;
        border-radius: 15px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50%;
    }
    
    .modal-success {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 1s;
        z-index: -2;
    }
    
    .show-modal {
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.60);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        pointer-events: none;
        z-index: 100;
    }
    
    /* Contactos */
    .sectionContact {
        border-radius: 40px 40px 0 0;
        background-image: url('./assets/fondo3.jpg');
        opacity: 0.8;
        width: 100%;
        height: 100vh;
    }
    .paddingNav {
        padding-left: 20px !important;
    }
    .bg-pink {
        background-color: #D885A3;
    }
    .menu{
        color: white;
        font-size: 18px;
    }
    .navbarChat {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        justify-content: space-evenly;
    }
    .text-chat{
        color: #801e54;
    }
    .bg-navBar{
        background-color: rgba(255, 255, 255, 0.8);
    }
    .img-talktech{
        padding-left: 10px;
    }
    .modal-contact {
        background-color: white;
        width: 300px;
        height: 120px;
        padding: 15px 20px 0px 20px;
        margin: 20% auto;
        position: relative;
        opacity: 1;
        pointer-events: auto;
        border-radius: 15px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50%;
    }